body{
    margin: 0;
}
.contact{
    text-align: center;
    width: 80%;
    border: 1px solid #ddd;
    margin: 20px auto;
    padding: 5%;
}
.contact h2{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;
}
.contact  p{
    color:rgb(113,113,113) ;
}
.contact form{
    margin-top: 25px;
}
.child-forms{
    text-align: left;
    margin-bottom: 15px;
    width: 100%;
}
.child-forms label{
    display: block;
    margin-bottom: 5px;
}
.child-forms input,
.child-forms select
.child-forms textarea{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 3%;
    width: 94%;
}
.child-forms select,.child-forms textarea{
    width: 100%;
}
.child-forms input[type="button"]
{
width: 200px;
background-color: blueviolet;
color: white;
cursor: pointer;
border-radius: 20px;
}
.child-forms input[type="button"]:hover
{
    border: 1px solid black;
    background-color: #10ac84;
    border-radius: 30px;
}
.child-forms:last-child{
    margin-bottom: 0;
}